<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Kankan API</title>
</head>

<body>
  <!-- Main container -->
  <div role="main" id="main">
    <h1>Hello and welcome to the Kankan API :)</h1>
  </div>
</body>
</html>
